.app{
    text-align: center;
}
.main-container{
    height: 100vh;
}
.page-title{
padding-top: 1.875rem;
margin-bottom: 2.25rem;
}

.date-picker{
max-width: 20.25rem;
margin: auto;
}
.submit-btn{
    margin-top: 1.5rem;
}
